h1{
    font-weight: 700;
    font-size: 2.5rem;

}

/* 
.carousel-section{
    width: 100vw;
    height: 400px;
    float: left;
    margin-top: 60px;
} */

.header{
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
    
}

.header a{
    text-transform: uppercase;
    font-weight: 600;
}
.header img{
    width: 30px;
    height: 30px;
}

.slide-container{
    height: 90vh; 

    padding: 24px;
    display:flex; 
    flex-direction: column; 
    justify-content: space-around;
    
}

