.pantry{
    background: #fcfffc;
    min-height: 100vh;
    width: 100vw;
    padding-bottom: calc(max(9vh, 70px));
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.food-items{
    width: 85vw;
    /* border: none; */
}

.food-items .item-card{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 64px;
    box-shadow: 0px 2px 4px rgba(105, 105, 105, 0.25);
    border-radius: 8px;
    margin-bottom: 10px;
}


.food-items img{
    width: 30px;
}
.food-items .item-card .left-content{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: relative;
    height: 100%;
    padding-left: 15px;
}

.food-items .item-card .left-content img{
    width: 10%;
    height: auto;
}

.food-items .item-card .left-content .food-info{
    /* display: flex;
    flex-direction: column; */
    padding-left: 15px;
    height: 65%;
}
.food-items .item-card .left-content h2{
    font-weight: 700;
    font-size: 1rem;
    margin: 0;

}

.food-items .item-card .left-content p{
    color: #999999;
    font-weight: 100;
    font-size: .75rem;
    margin: 0;
}

.right-content{
    position: relative;
    height: 100%;
    width: 18%;
    min-width: 55px;
    max-width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}
.right-content img.slide-arrow{
    height: 25%;
    width: auto;
    /* height: auto; */
}
.right-content img.expiry-alert{
    height: 40%;
    width: auto;
}

button{
    background-color: #3e3e3e;
    position: fixed;
    width: 56px;
    height: 56px;
    outline: none;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
    bottom: 12vh;
    right: 10vw;
}

button img{
    position: relative;
    width: 35%;
    height: auto;
}


