.splash{
    /* background: #fcfffc; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main img{
    width: 39.17px;
    height: 36.73px;
    margin-right: 10px;
    
}

main h1{
    font-weight: 700;
    font-size: 2.5rem;
    color: #8CC79B;
    margin: 0;

}
