<div class="quick-add">



    <div class="header">
        <img src="../../assets/images/logo.png" alt="">
        <a href="pantry">skip</a>
    </div>

    <div class="titles">
        <h1>Track your pantry</h1>
        <p>Let's start by adding some items you already have in your fridge or pantry.</p>
    </div>


    <div class="items-wrapper">
        <div class="items-category">
            <h2>Fruits</h2>
            <div class="items">
                <div class="item">
                    <p>Apples</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Bananas</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Lemons</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Oranges</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Mangoes</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Grapes</p><img src="../../assets/images/plus.png" alt="">
                </div>
            </div>
        </div>
        <div class="items-category">
            <h2>Vegetables</h2>
            <div class="items">
                <div class="item">
                    <p>Asparagus</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Broccoli</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Carrots</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Potatoes</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Corn</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Spinach</p><img src="../../assets/images/plus.png" alt="">
                </div>
            </div>
        </div>
        <div class="items-category">
            <h2>Dairy & Eggs</h2>
            <div class="items">
                <div class="item">
                    <p>Milk</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Eggs</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Yogurt</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Cream</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Cheese</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Butter</p><img src="../../assets/images/plus.png" alt="">
                </div>
            </div>
        </div>
        <div class="items-category">
            <h2>Meat & Poultry</h2>
            <div class="items">
                <div class="item">
                    <p>Beef</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Turkey</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Chicken</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Ribs</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Hot dogs</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Bacon</p><img src="../../assets/images/plus.png" alt="">
                </div>
            </div>
        </div>
        <div class="items-category">
            <h2>Fruits</h2>
            <div class="items">
                <div class="item">
                    <p>Name</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Name</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Name</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Name</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Name</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Name</p><img src="../../assets/images/plus.png" alt="">
                </div>
            </div>
        </div>
        <div class="items-category">
            <h2>Fruits</h2>
            <div class="items">
                <div class="item">
                    <p>Name</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Name</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Name</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Name</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Name</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Name</p><img src="../../assets/images/plus.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>