<div class="quick-add">



    <div class="header">
        <img src="../../assets/images/logo.png" alt="">
        <a href="pantry">skip</a>
    </div>

    <div class="titles">
        <h1>Track your pantry</h1>
        <p>Let's start by adding some items you already have in your fridge or pantry.</p>
    </div>


    <div class="items-wrapper">
        <div class="items-category">
            <h2>Fruits</h2>
            <div class="items">
                <div class="item">
                    <p>Apples</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Bananas</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Lemons</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Oranges</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Mangoes</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Grapes</p><img src="../../assets/images/plus.png" alt="">
                </div>
            </div>
        </div>
        <div class="items-category">
            <h2>Vegetables</h2>
            <div class="items">
                <div class="item">
                    <p>Asparagus</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Broccoli</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Carrots</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Potatoes</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Corn</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Spinach</p><img src="../../assets/images/plus.png" alt="">
                </div>
            </div>
        </div>
        <div class="items-category">
            <h2>Dairy & Eggs</h2>
            <div class="items">
                <div class="item">
                    <p>Milk</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Eggs</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Yogurt</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Cream</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Cheese</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Butter</p><img src="../../assets/images/plus.png" alt="">
                </div>
            </div>
        </div>
        <div class="items-category">
            <h2>Meat & Poultry</h2>
            <div class="items">
                <div class="item">
                    <p>Beef</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Turkey</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Chicken</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Ribs</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Hot dogs</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Bacon</p><img src="../../assets/images/plus.png" alt="">
                </div>
            </div>
        </div>
        <div class="items-category">
            <h2>Fish & Shellfish</h2>
            <div class="items">
                <div class="item">
                    <p>Cod</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Salmon</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Tilapia</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Shrimp</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Mussels</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Lobster</p><img src="../../assets/images/plus.png" alt="">
                </div>
            </div>
        </div>
        <div class="items-category">
            <h2>Nuts, Grains, & Pasta</h2>
            <div class="items">
                <div class="item">
                    <p>Chickpeas</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>White rice</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Peanuts</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Lentils</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Oatmeal</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Pasta</p><img src="../../assets/images/plus.png" alt="">
                </div>
            </div>
        </div>
        <div class="items-category">
            <h2>Condiments & Oil</h2>
            <div class="items">
                <div class="item">
                    <p>Ketchup</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Mustard</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Canola Oil</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Mayo</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Soy Sauce</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Olive oil</p><img src="../../assets/images/plus.png" alt="">
                </div>
            </div>
        </div>
        <div class="items-category">
            <h2>Snacks & baked goods</h2>
            <div class="items">
                <div class="item">
                    <p>Hummus</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Syrup</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Bread</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Crackers</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Popcorn</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Chips</p><img src="../../assets/images/plus.png" alt="">
                </div>
            </div>
        </div>

        <div class="items-category">
            <h2>Herbs & Spices</h2>
            <div class="items">
                <div class="item">
                    <p>Vinegar</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Chives</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Basil</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Curry</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Sea Salt</p><img src="../../assets/images/plus.png" alt="">
                </div>
                <div class="item">
                    <p>Black Pepper</p><img src="../../assets/images/plus.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="btn-container">
        <div class="btn">add to my pantry</div>
    </div>
</div>