<div class="login">
  <header>
    <img src="../../assets/images/logo.png" alt="logo">
  </header>
  <h1>Sign In</h1>
  <form>
    <div class="form-group">
      <input type="email" class="form-control" id="inputEmail" placeholder="Email Address">
    </div>
    <br>
    <div class="form-group">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary" id="signup">SIGN IN</button>
    <br>
    <small id="loginHelp" class="form-text text-muted">Don't have an account? <a [routerLink]="['/register']">Sign
        up</a></small>
  </form>
</div>