extends layout

block content
  div.text-center

      - var h1Classes = ['h3', 'mb-3', ,'font-weight-normal'];
      h1(class=h1Classes) funguy splash page

      a.btn.btn-primary.float-left(href="/login") Sign in
      |
      a.btn.btn-primary.float-right(href="/register") Register

      - var pClasses=['mt-5', 'mb-3', 'text-muted'];
      p(class=pClasses) © 2020-2021
