extends layout

block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapLine}
  .row
    .col-12.col-md-8
      .error= error

      app-splash-page

    .col-12.col-md-4
      p.lead= sidebar

block scripts
  script(src='/build/runtime.0e49e2b53282f40c8925.js')
  script(src='/build/polyfills.8c151b8375e767ff858f.js')
  script(src='/build/main.441ae764795c08d62cc2.js')
