<div class="register">
  <header>
    <img src="../../assets/images/logo.png" alt="logo">
  </header>
  <h1>Sign up</h1>
  <form>
    <div class="form-group">
      <input type="name" class="form-control" id="inputName" placeholder="Name">
    </div>
    <br>
    <div class="form-group">
      <input type="email" class="form-control" id="inputEmail" placeholder="Email Address">
    </div>
    <br>
    <div class="form-group">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <br>
    <div class="form-group">
      <input type="password" class="form-control" id="confirmPassword" placeholder=" Confirm Password">
    </div>
    <button type="submit" class="btn btn-primary" id="signup">SIGN UP</button>
    <br>
    <small id="loginHelp" class="form-text text-muted">Already have an account? <a [routerLink]="['/login']">Sign
        in</a></small>

  </form>
</div>