<div class="search">
    <header>
        <img src="../../assets/images/logo.png" alt="">
        <h1>Add to Pantry</h1>
    </header>

    <main>
        <div class="searchbar">
            <input type="text" placeholder="Search your pantry or fridge">
            <img src="../../assets/images/pantry/search.png" alt="">
        </div>

        <div class="food-items">
          <div class="item-card" *ngFor="let food of foods">
              <div class="left-content">
                  <img src="../../assets/images/pantry/fruits.png" alt="">
                  <div class="food-info">
                      <h2>{{food.name}}</h2>
                      <p>{{food.id}}</p>
                  </div>
              </div>
              <div class="right-content">
                  <img src="../../assets/images/pantry/alert.png" class="expiry-alert" alt="">
                  <img src="../../assets/images/pantry/arrow.png" class="slide-arrow" alt="">
              </div>
          </div>
        </div>
    </main>
    <nav class="menu">
        <a href="pantry"><img src="../../assets/images/list-active.png" alt="pantry"></a>
        <a href="statistics"><img src="../../assets/images/stats-inactive.png" alt="statistics"></a>
    </nav>

</div>
