<div class="new-item">

    <header>
        <img src="../../assets/images/logo.png" alt="">
        <h1>New Item</h1>
    </header>
    <main>
      <div class="searchbar">
          <input type="text" placeholder="Search your pantry or fridge">
          <img src="../../assets/images/pantry/search.png" alt="">
      </div>
      <form (submit)="onNewFoodSubmit()">
        <div class="food-info">
          <!-- <div class="food-name">
              <p>Name</p>
              <img src="../../assets/images/add-item/utensils.png" alt="utensils">
          </div> -->
          <div class="form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" [(ngModel)]="newFood.name">
          </div>
          <div class="form-group">
            <input class="form-control" id="expiryDuration" name="expiryDuration" placeholder="Expiry Duration" [(ngModel)]="newFood.expiryDuration">
          </div>
          <div class="form-group">
            <input class="form-control" id="expiryDate" name="expiryDate" placeholder="Expiry Date" [(ngModel)]="newFood.expiryDate">
          </div>
          <div class="form-group">
            <input class="form-control" id="category" name="category" placeholder="Category" [(ngModel)]="newFood.category">
          </div>

          <!-- <div class="food-expiry">
              <p>Expiry Duration</p>
              <img src="../../assets/images/add-item/expiry.png" alt="clock">
          </div> -->
          <!-- <div class="food-expiry">
              <p>Expiry Date</p>
              <img src="../../assets/images/add-item/expiry.png" alt="clock">
          </div>
          <div class="food-category">
              <div class="left-content">
                  <img src="../../assets/images/pantry/fruits.png" alt="category">
                  <p>Category</p>
              </div>
              <img src="../../assets/images/add-item/arrow.png" alt="arrow">
          </div> -->
        </div>
        <div type="submit" class="btn"><a href=''>add item</a></div>
      </form>
    </main>

    <nav class="menu">
        <a href="pantry"><img src="../../assets/images/list-active.png" alt="pantry"></a>
        <a href="statistics"><img src="../../assets/images/stats-inactive.png" alt="statistics"></a>
    </nav>
</div>
