<div class="statistics">

    <header>
        <img src="../../assets/images/logo.png" alt="">
        <h1>My Stats</h1>
    </header>

    <main>
        <div class="stat streak">
            <div class="line-1">
                <img src="../../assets/images/statistics/streak1.png" alt="confetti">
                <h3>You're on a streak!</h3>
                <img src="../../assets/images/statistics/streak2.png" alt="confetti">
            </div>

            <p>2 weeks without wasting food</p>

        </div>
        <div class="stat percentages">
            <h3>Look at you caring about the planet!</h3>
            <div class="graph">
                <img src="../../assets/images/statistics/progress.png" alt="graph of progress">
                <div class="graph-key">
                    <div class="color">
                        <img src="../../assets/images/statistics/green.png" alt="green circle">
                        <p>Amazing</p>
                    </div>
                    <div class="color">
                        <img src="../../assets/images/statistics/yellow.png" alt="yellow circle">
                        <p>You're an average American</p>
                    </div>
                    <div class="color">
                        <img src="../../assets/images/statistics/red.png" alt="red circle">
                        <p>We... have some work to do</p>
                    </div>
                </div>
            </div>
            <p>Overall, you eat 80% of the food you purchase.</p>

        </div>
        <div class="stat individual-categories">
            <img src="../../assets/images/statistics/indiv-categories.png">
        </div>
        <div class="stat food-categories">
            <h3 style="color:red">How dare you throw us away!</h3>
            <h3 style="color:red">Who do you think we are? Spoiled rotten?</h3>
            <p style="margin-top: 8px;">These are the top foods you threw away</p>
            <div class="foods">
                <div>
                    <img src="../../assets/images/pantry/fruits.png" alt="fruits">
                    <h3>30%</h3>
                </div>
                <div>
                    <img src="../../assets/images/pantry/meat.png" alt="meat">
                    <h3>23%</h3>
                </div>
                <div>
                    <img src="../../assets/images/pantry/vegetables.png" alt="vegetables">
                    <h3>21%</h3>
                </div>
            </div>
            <p>Next time, just buy less. We understand.</p>
        </div>

        <div class="stat progression">
            <h3>Your food waste progression</h3>
            <div class="categories-container">

                <ul class="categories">
                    <li class="active" data-filter="week">Week</li>
                    <li data-filter="month">Month
                    </li>
                    <li data-filter="year">Year</li>
                </ul>
            </div>
            <img src="../../assets/images/statistics/week-graph.png" alt="">
        </div>
    </main>
    <nav class="menu">
        <a href="pantry"><img src="../../assets/images/list-inactive.png" alt="pantry"></a>
        <a href="statistics"><img src="../../assets/images/stats-active.png" alt="statistics"></a>
    </nav>
</div>